function init() {
    // Initialize Firebase.
    // TODO: replace with your Firebase project configuration.
    var config = {
        apiKey: "AIzaSyCI90prOBGvod-lFHYtFOKktnpXgolRWhE",
        authDomain: "note-taking-system.firebaseapp.com",
        databaseURL: "https://note-taking-system.firebaseio.com",
        projectId: "note-taking-system",
        storageBucket: "note-taking-system.appspot.com",
        messagingSenderId: "777619796758"
    };

    firebase.initializeApp(config);

    var firepadRef = firebase.database().ref().child('<%= user._id %>');

    var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
        
    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
        { richTextToolbar: true, richTextShortcuts: true , userId:"<%= user._id %>" }
    );
    firepad.on('ready', function() {
        if(firepad.isHistoryEmpty()) {
            firepad.setHtml('<span style="font-size: 24px;">歡迎使用<span style="color: red">筆記系統!</span></span><br/><br/>你可以在下面新增你要的筆記內容 :).\n');
        }
    });
}