<!DOCTYPE HTML>
<html>
<head>
    <title>Note-taking Page</title>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
    <script src="/javascripts/firepad.js"></script>     

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <link rel="stylesheet" href="/stylesheets/firepad.css" />
</head>
<body onload="init()">
    <div id="firepad-container"></div>

 </body>

<!-- <iframe src="https://www.slideshare.net/slideshow/embed_code/key/wXnQeT3o1ckt1b" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/secret/wXnQeT3o1ckt1b" title="20170119 jia-wei-research of-web_real-time_communication_based_on_web_socket" target="_blank">20170119 jia-wei-research of-web_real-time_communication_based_on_web_socket</a> </strong> from <strong><a href="https://www.slideshare.net/ssusere04d37" target="_blank">嘉緯 林</a></strong> </div> -->


</html>


