<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>筆記頁面</title>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Firepad and Firebase js -->
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
    <script><%- include('../public/javascripts/firepad.ejs') %></script>
    
    <!-- Firepad css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />

    <!-- This page css -->
    <link rel="stylesheet" href="/stylesheets/notePage.css" />
    <script>
        function slidebtn(){
            var btn = document.getElementById("slidebtn");
            console.log(btn.innerHTML);
            if( btn.innerHTML == "隱藏投影片" ){
                btn.innerHTML = "顯示投影片";
                document.getElementById('slide').style.width = 0;
                document.getElementById('firepad-container').style.width = "100%";
            }
            else if ( btn.innerHTML == "顯示投影片" ){
                btn.innerHTML = "隱藏投影片";
                document.getElementById('slide').style.width = "50%";
                document.getElementById('firepad-container').style.width = "50%";
            }
        }
    </script>

</head>


<body onload="init()">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">課程筆記系統</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">主頁面</a></li>
                <li><a href="#">Feedback</a></li>
                <button class="btn btn-danger navbar-btn" id="slidebtn" onclick="slidebtn()">隱藏投影片</button>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#">學生 <span class="glyphicon glyphicon-user"></span> <%= user.username %></a></li>
                <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
            </ul>
        </div>
    </nav>


  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id="slide">
                <iframe src="https://www.slideshare.net/slideshow/embed_code/key/wXnQeT3o1ckt1b" width="100%" height="100%" scrolling="no" allowfullscreen> </iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div id="firepad-container">
            </div>
        </div>
    </div>
  </div>
        
 </body>

<!-- <iframe src="https://www.slideshare.net/slideshow/embed_code/key/wXnQeT3o1ckt1b" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/secret/wXnQeT3o1ckt1b" title="20170119 jia-wei-research of-web_real-time_communication_based_on_web_socket" target="_blank">20170119 jia-wei-research of-web_real-time_communication_based_on_web_socket</a> </strong> from <strong><a href="https://www.slideshare.net/ssusere04d37" target="_blank">嘉緯 林</a></strong> </div> -->


</html>