html { height: 100%; }
body { margin: 0; height: 100%; }

/* firepad style */

#firepad-container {
  position: fixed;
  width: 50%;
  height: 95%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.788);
}

.CodeMirror {
  background-color: white;
  border-style: outset;
  border-radius: 5px;
}

/* slide style */

#slide {
  position : fixed;
  bottom: 0;
  top: auto;
  left: 0;
  margin : 0; 
  width : 50%;
  height : 95%;
}

.my-nav-block {
  position: relative;
  height : auto;
}