html { height: 100%; }
body { margin: 0; height: 100%; }

/* firepad style */

#firepad-container {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
  top:0;
  background-color: rgba(0, 0, 0, 0.788);
}

.CodeMirror {
  background-color: white;
  border-style: outset;
  border-radius: 5px;
}

/* slide style */

#slide {
  position : fixed;
  border:1px solid #CCC; 
  bottom: 0;
  top: 0;
  left: 0;
  border-width:1px; 
  margin-bottom:5px; 
  width : 50%;
  height : 100%;
}